In [2]:
# Mithil Patel
# DSC 540 - Final Project
# 11/19/2022

# Importing library
import psycopg2

# function to check for sql connection
def check_connection():
    try:
        conn = psycopg2.connect(
            host = 'localhost',
            dbname = 'postgres',
            user = 'postgres',
            password = '******', # Masking password 
            port = 5432)
        print("Successfully connected")
        conn.close()
    except psycopg2.OperationalError:
        print("Connection failed")

# Calling the function
check_connection()

Successfully connected

In [4]:
# Importing dataframes from other jupyter notebook files

# Website dataframe
%store -r web_df

# csv file dataframe
%store -r file_df

# API dataframe
%store -r api_df

In [5]:
# Checking for column data-type
web_df.dtypes

country                     object
2017_vs_1990:_change(%)    float64
dtype: object

In [2]:
# Establishing sql connection
conn = psycopg2.connect(
            host = 'localhost',
            dbname = 'postgres',
            user = 'postgres',
            password = '******', # Masking password 
            port = 5432)

cursor = conn.cursor()

# Creating table in our database for web dataframe 
cursor.execute('''CREATE TABLE IF NOT EXISTS web(
    country TEXT PRIMARY KEY,  
    change INTEGER 
    )''')

# commiting changes
conn.commit()

In [11]:
# Checking for column data type
file_df.dtypes

year
country                object
1990                    int64
2017                    int64
death_percent_diff    float64
dtype: object

In [3]:
# Creating table in our database for file dataframe 
cursor.execute('''CREATE TABLE IF NOT EXISTS file(
    country TEXT PRIMARY KEY,
    year_1990 INTEGER,
    year_2017 INTEGER,
    death_percent_diff INTEGER 
    )''')

# commiting changes
conn.commit()

In [6]:
# Checking for column data type
api_df.dtypes

country        object
air_quality     int64
dtype: object

In [7]:
# Creating table in our database for api dataframe 
cursor.execute('''CREATE TABLE IF NOT EXISTS api(
    country TEXT PRIMARY KEY,
    air_quality INTEGER 
    )''')

# commiting changes
conn.commit()

In [8]:
# Closing the sql connection
conn.close()

In [11]:
# Importing libraries
from sqlalchemy import create_engine
import pandas as pd

# Engine to connect to Postgresql database
engine = create_engine('postgresql://postgres:Qazxsw21!@localhost:5432/postgres')

# Inserting web dataframe data into 'web' table
web_df.to_sql(
    name= 'web',
    con= engine,
    index= False,
    if_exists= 'replace'
)

209

In [12]:
# Inserting file dataframe data into 'file' table
file_df.to_sql(
    name= 'file',
    con= engine,
    index= False,
    if_exists= 'replace'
)

# Inserting api dataframe data into 'api' table
api_df.to_sql(
    name= 'api',
    con= engine,
    index= False,
    if_exists= 'replace'
)

244

In [5]:
import pandas as pd

# Connecting to sql server
conn = psycopg2.connect(
            host = 'localhost',
            dbname = 'postgres',
            user = 'postgres',
            password = '******', # Masking password 
            port = 5432)

cursor = conn.cursor()

# Writing a query to merge three tables based on the primary key 'country'
cursor.execute('''
    SELECT al.country, al.air_quality, al.percent_change, f.death_percent_diff, 
        f.year_1990, f.year_2017 
    FROM (SELECT w.country, w.percent_change, a.air_quality 
        FROM web w
        INNER JOIN api a ON w.country = a.country) al
        INNER JOIN file_df f ON f.country = al.country
''')

# Fetching data from the query above 
data = cursor.fetchall()

# Creating a dataframe for the merged tables
df = pd.DataFrame(
    data, 
    columns = ['country', 'air_quality', 'percent_change','death_percent_diff','year_1990','year_2017'])

# Displaying merged table
df

,country,air_quality,percent_change,death_percent_diff,year_1990,year_2017
0,United Arab Emirates,5,256.3,379.568106,602,2887
1,Afghanistan,1,348.6,0.816524,37231,37535
2,Antigua and Barbuda,2,179.8,11.538462,26,29
3,Albania,1,-23.7,-23.777403,2965,2260
4,Armenia,1,-76.7,5.530973,3164,3339
...,...,...,...,...,...,...
167,Samoa,1,14.0,16.981132,159,186
168,Yemen,2,81.5,-2.473848,21222,20697
169,South Africa,2,49.7,25.641322,25962,32619
170,Zambia,1,68.1,-8.667074,13084,11950
171,Zimbabwe,1,-29.6,44.731833,8931,12926

In [11]:
# Exporting dataframe as a csv file for Tableau visualization
df.to_csv('final_table.csv', sep=',',encoding='utf-8', index=False)