In [16]:
import pandas as pd
import csv    
import warnings
warnings.filterwarnings("ignore")

df_isear = pd.read_csv("isear.csv", sep= "|", engine='python', error_bad_lines=False, quoting=csv.QUOTE_NONE,warn_bad_lines=False)
df_wassa = pd.read_csv("emotion-labels-train.csv")
df_isear[["EMOT","Field1","SIT"]]

      EMOT   Field1                                                SIT
0        1      joy  During the period of falling in love, each tim...
1        2     fear         When I was involved in a traffic accident.
2        3    anger  When I was driving home after  several days of...
3        4  sadness  When I lost the person who meant the most to me.
4        5  disgust  The time I knocked a deer down - the sight of ...
...    ...      ...                                                ...
7498     3    anger  Two years back someone invited me to be the tu...
7499     4  sadness  I had taken the responsibility to do something...
7500     5  disgust  I was at home and I heard a loud sound of spit...
7501     6    shame  I did not do the homework that the teacher had...
7502     7    guilt  I had shouted at my younger brother and he was...

[7503 rows x 3 columns]

In [4]:
print(df_isear.SIT.head(5))

0    During the period of falling in love, each tim...
1           When I was involved in a traffic accident.
2    When I was driving home after  several days of...
3    When I lost the person who meant the most to me.
4    The time I knocked a deer down - the sight of ...
Name: SIT, dtype: object

In [5]:
df_isear.columns

Index(['ID', 'CITY', 'COUN', 'SUBJ', 'SEX', 'AGE', 'RELI', 'PRAC', 'FOCC',
       'MOCC', 'FIEL', 'EMOT', 'WHEN', 'LONG', 'INTS', 'ERGO', 'TROPHO',
       'TEMPER', 'EXPRES', 'MOVE', 'EXP1', 'EXP2', 'EXP10', 'PARAL', 'CON',
       'EXPC', 'PLEA', 'PLAN', 'FAIR', 'CAUS', 'COPING', 'MORL', 'SELF',
       'RELA', 'VERBAL', 'NEUTRO', 'Field1', 'Field3', 'Field2', 'MYKEY',
       'SIT', 'STATE', ',,,,,,,,,'],
      dtype='object')